

body {
    background-image: url("../img/background.jpg");
    font-family: "Myriad Pro", "Sans-Serif", Helvetica;
}


header {
    /*Maurizio: da #ffffff a #e1dfe0 verticale*/
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e1dfe0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#e1dfe0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e1dfe0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #ffffff 0%,#e1dfe0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #ffffff 0%,#e1dfe0 100%); /* IE10+ */
    background: linear-gradient(135deg,  #ffffff 0%,#e1dfe0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1dfe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 140px;
    box-shadow: 0px 4px 3px -2px #888888;
}

#logo img {
    margin-top: -40px;
    margin-left: 40px;
}


/* Language and Social Icons */

#languages {
    display: block;
}

#languages img {
    margin-right: 5px;
    padding: 20px 5px 8px 5px;
    background-size: 100% 100%;
}


#languages img.selected, #languages img:hover{
    background-image: url("../img/selected_flag.png");
}

#social-links {
    display: block;
    padding-top: 15px;
}

#social-links img {
    margin-right: 5px;
}

#social-links img:hover {
    box-shadow: 0px 2px 1px -1px gray;
}

#social-links a:hover {
    text-decoration: none;
}


/* Navigation Menu */

ul#header-links {
    list-style: none;
    padding-top: 40px;
    margin: 0;
    font-size: 1.4em;
    text-align: left;
}

ul#header-links li {
    display: block;
    float: left;
    margin-right: 45px;
    padding: 4px 15px 0px 15px;
}

ul#header-links li a {
    color: rgb( 112, 112, 112 );
}

ul#header-links li:hover {
    background-color: #cdcdcd;
    border-radius: 5px;
}

ul#header-links a:hover {
    text-decoration: none;
    text-transform: none;
}

/* banner */

#banner {
    display: block;
    background-image: url("../img/caravan_header.jpg");
    height: 479px;
}

#infobox {
    background: rgba(0,0,0,.35);
    height: 100%;
    padding: 70px 0 0 30px;
    margin:0;
    color: rgb( 255, 255, 255 );
}

#infobox h1 {
    font-size: 1.9em;
    font-weight: bold;
}

#infobox h3 {
    font-size: 1.3em;
    text-align: left;
    padding-right: 120px;
}

#infobox p {
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 10px;
}

#infobox img:hover {
    box-shadow: 0px 5px 1px -1px #2f2f2f;
}

#infobox a:hover {
    text-decoration: none;
}

/* For the Social Links on the infobox over the banner */
#infobox img {
    margin-right: 10px;
}

/* Form in the banner */

#nl-submit {
    margin-left: 10px;

}

/* description */

#description {
    background-color: #ffffff;
    text-align: center;
    color: rgb( 54, 54, 54 );
    padding: 50px 0;
}

.description-image {
    margin: 0 auto;
}

#description p {
    font-size: 1em;
}

/* idea */

#idea {
    background-color: #89a626;
    color: #ffffff;
    padding-bottom: 70px;
}

/* the first row in the idea*/
#idea > .row {
   padding-top: 50px;
}

#idea img {
    margin-left: -50px;
}

#idea h2 {
    font-size: 4em;
    text-transform: uppercase;
    padding-top: 100px;
}

#idea p {
    font-size: 1.1em;
}

/* gallery */

#gallery {
    background-color: #577000;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #ffffff;
    font-family: "Bad Script", cursive;
}

#gallery .step-box-text {
}

#gallery h1 {
   font-size: 8em;
}

#gallery p {
    font-size: 1.5em;
    font-weight: none;
}

/* the third image give me some problem compared to the other styles. Brutal fix*/
#third-image h1 {
    font-size: 5em;
    padding-bottom: 10px;
}


/* faq */

#faq {
    padding: 70px;
    background-image: url("../img/faq-background.jpg");
    color: #ffffff;
    font-size: 1.2em;
}

#faq h2 {
    font-size: 4em;
    text-transform: uppercase;
}

#faq img {
    padding-right: 3px;
    padding-left: -3px;
}

footer {
    background-color: #89a626;
    color: #ffffff;
    font-size: 0.9em;
    padding: 30px 0 10px 0;
}

/* about */

#about {
    background-color: #e9e9e9;
    color: #717171;
    font-family: "Myriad Pro", Sans-Serif, Helvetica;
    padding: 60px 0 50px 0;
}

#about h2 {
    font-size: 4em;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
}

#about h5 {
    margin-top: -5px;
    margin-bottom: 30px;
}

#about img {
    margin: 0 auto;
}

/* contact */

#contact {
    background-color: #ffffff;
    color: #717171;
    font-family: "Myriad Pro", Sans-Serif, Helvetica;
    padding: 40px 0 30px 0;
}

#contact h2 {
    font-size: 4em;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
}

#contact h3 {
    margin-top: -5px;
    margin-bottom: 30px;
}

/* responsive design */

/* The menu is shrinked on the tablet view */

/* Navigation Menu */

/*
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
*/



/* Extra small devices */
@media (max-width:767px){

    body {
    }

}



/* Small devices Tablets */
@media (min-width: 768px) and (max-width:991px){

    ul#header-links {
        font-size: 1.2em;
    }

    ul#header-links li {
        padding: 10px 0px 0px 0px;
    }

    #banner {
        background-image: url("../img/caravan_header_small.jpg");
        height: 406px;
    }


    #infobox {
        padding: 10px 0 0 30px;
    }

    #infobox h1 {
        font-size: 1.6em;
    }

    #infobox h3 {
        font-size: 1.2em;
    }

    #infobox p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #gallery h1 {
        font-size: 5em;
    }

    #gallery p {
        font-size: 1.3em;
    }

    /* the third image give me some problem compared to the other styles. Brutal fix*/
    #third-image h1 {
        font-size: 3em;
        padding-bottom: 10px;
    }


}


/* Medium devices Desktops */
@media (min-width: 992px) and (max-width:1200px){

    ul#header-links {
        font-size: 1.2em;
    }

    ul#header-links li {
        padding: 4px 5px 0px 5px;
    }

    #banner {
        background-image: url("../img/caravan_header_tablet.jpg");
        height: 406px;
    }

    #infobox {
        padding: 10px 0 0 30px;
    }

    #infobox h1 {
        font-size: 1.6em;
    }

    #infobox h3 {
        font-size: 1.2em;
    }

    #infobox p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* For the Social Links on the infobox over the banner */
    #infobox img {
        margin-right: 20px;
    }

    #description p {
        font-size: 0.9em;
    }

}



